* {
    box-sizing:border-box;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-flexbox;
}


.header h1 {
    font-size: 50px;
    color:blanchedalmond;
    
}
.header nav {
    list-style-type:none;
    float:right;
    font-size: 24px;
    
}

.header nav a {
    color:bisque;
    justify-content: space-between;

}

.header nav ul li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
}

.Heading1 ul h2 {
    position:relative;
    color: blue;
    font-size: 50px;
    display: flex;
    margin-top: 300px;
    justify-content: left;
    flex: 1 0 200px;

}


.vl {
    border-left: 6px solid pink;
    height: 450px;
    margin-left: 500px;
    position: absolute;
    margin-top: -100px;
  }

.box {
    font-size: 34px;
    margin-top: -200px;
    display: block;
    border-radius:10px 10px 10px 10px;
    outline: 3px solid white;
    background-color: aliceblue;
    margin-left: 650px;
    width: 55%;
    height: 55%;
    justify-content: center;
    text-align: center; 
}


/*
.Project1 {
    font-size: 34px;
    display: block;
    border-radius:10px 10px 10px 10px;
    outline: 3px solid white;
    margin-top: -350px;
    background-color: aliceblue;
    margin-left: 525px;
    width: 400px;
    height: 400px;
    flex: 0 1 auto;
    
}
*/

.Debug img {
    width: 35%;
    margin-left: 600px;
    margin-top: -350px;-
    margin-bottom: 200px;
    box-shadow: 5px 3px blue;

  }

  .Portfolio img {
    width: 45%;
    margin-left: 600px;
    margin-top: 50px;
    box-shadow: 5px 3px blue;
}
  /*
.Project2 {
    font-size: 34px;
    display: block;
    border-radius:10px 10px 10px 10px;
    outline: 3px solid white;
    background-color: aliceblue;
    width: 400px;
    margin-left: 5px;
    height: 400px;
    flex: 0 1 auto;
    
}
*/
.vl2 {
    border-left: 6px solid pink;
    height: 500px;
    margin-left: 500px;
    margin-top: -300px;
    position: absolute;
    
}

@media screen and (max-width: 900px) {
    .box {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;  
        flex-direction: column;
    }
    .Debug {
        width: 100%;
        
    }

    .vl, .vl2, .About-Me, .my-work,.contacts {
        display: none;
    }
    }
    
    .footer {
    padding: 10px;
    text-align: center;
    background: palevioletred; 
    margin-bottom: 0px;
    margin-top: 100px;

}


/*
.box image {
    width: 400px;
    height: 200px;
    display: inline-flexbox;
    float: left;
    
}
