* {
    box-sizing:border-box;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-flexbox;
}


.header h1 {
    font-size: 50px;
    color:blanchedalmond;
    
}
.header nav {
    list-style-type:none;
    float:right;
    font-size: 24px;
    
}

.header nav a {
    color:bisque;
    justify-content: space-between;

}

.header nav ul li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
}
/*
.Heading1 {
    outline: 3px solid grey;
    display:inline-block;
}
*/
h3 {
    color: blue;
    margin-top: 500px;
    margin-left: 200px;
    font-size: 50px;
    display: inline-flex;

}
/*
@media only screen and (max-width: 600px) {
 
    .h3 {
        margin-left: 10px;
    }
   
    .box {
        margin-left: 0px;
        width: 75%;
        float: left;
        display: inline-block;
    
    }
}
*/
@media screen and (max-width: 600px) {

    .vl {
        border-left: 6px solid red;
    }

}

@media screen and (max-width: 992px) {
    .vl {
      border: green';
    }
  }


.vl {
    border-left: 6px solid pink;
    height: 100%;
    margin-left: 500px;
    position: absolute;
    margin-top: 100px;
  }
.box {
    font-size: 34px;
    margin-top: -500px;
    display: inline-block;
    border-radius:10px 10px 10px 10px;
    outline: 3px solid white;
    margin-bottom: 150px;
    background-color: aliceblue;
    margin-left: 650px;
    width: 55%;
    height: 55%;
    
}

.Project1 {
    background-image: url("./Assets/Project1.JPG") 
}
.work {
    font-size: 34px;
    margin-top: 50px;
    display: inline-block;
    border-radius:10px 10px 10px 10px;
    outline: 3px solid white;
    margin-bottom: 150px;
    background-color: aliceblue;
    margin-left: 650px;
    width: 55%;
    height: 55%; 
}

.footer {
    padding: 10px;
    text-align: center;
    background: palevioletred; 
    margin-top: 800px;
    
    
}

.image {
    width: 30%;
    display: inline-flex;
    float: right;
    
}
